[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest-cov = "*"
pytest-xdist = "*"
runtime-info = "*"
tox = "*"
radon = "*"
bandit = "*"
pylint = "*"
autopep8 = "*"
ipython = "*"
coverage = "*"
tox-venv = "*"

[packages]
requests = "*"
click = "*"

[requires]
python_version = "3.7"
