[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest-cov = "*"
pytest-xdist = "*"
runtime-info = "*"
tox = "*"
radon = "*"
bandit = "*"

[packages]
cachecontrol = {extras = ["filecache"],version = "*"}
click = "*"
pandas = "*"
pyspark = "*"
python-dateutil = "*"
requests = "*"
tqdm = "*"
pylint = "*"

[requires]
python_version = "3.7"
